# VSCode Preprocessor Settings
settings.json
tasks.json

# Compile targets ignores
*.hps

# Amnesia ignores
*.map_cache
*.map_cache_fastload
*.nodes
*.msh
*.anm
*.nodes

# Installer script output
Output/
